body {
    font-family: 'Arial', sans-serif; 
    background-color: #f0f0f0; 
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    font-size: 30px;
  }
  p {
    text-align: center;
    font-size: 15px;
  }
  
  #form  {
    display:flex;
    flex-direction: column;
    width: 50vw;
    margin: 0 auto;
  }
  #owoifyForm {
    background-color: white; 
    border-radius: 10px;
    padding: 20px;
  }
  
  label,
  input,
  select,
  button {
    display: block;
    margin-bottom: 10px;
    
  }
  
  input[type="text"],
  select {
    width: 96%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 auto;
    min-height: 1em;
  }
  
  button {
    margin:auto;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(63, 181, 255);
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(29, 126, 187);
  }
  
  #result {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    min-height: 1em;
  }
  
  @media screen and (max-width: 700px) {
    #form {
      width: 90vw;
    }
  }